.comentarios2 {
    margin: 20px 0;
}
.offcanvas-header{
    background: #5A5DE2;
    padding: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
}

form{

    border: solid 2px #91ABEE;
    border-radius:7px;
    padding: 10px;
    padding-top: 15px;
}
.h2AgregarServicios{
    margin-bottom: 30px;
    text-align: left;

}
.form_comentarios2 input {
    width: 100%;
    height: 50px;
    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
    max-height: 360px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    border: none;
    line-height: 30px;
    background-color: #91abee30;
    margin-bottom: 20px;
    margin-top: 10px;
}

.form_comentarios2 .btn {
    background: #5A5DE2;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.form_comentarios2 .btn:hover {
    box-shadow: 0px 0px 9px rgba(0, 0, 0, .35);
}
.AdministradorCuentas{
    margin-top: 100px;
}

.input-file button{
    background: #5A5DE2;
}

.btn-offcanvas{
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
}