.comentarios2 {
    margin: 20px 0;
}
.offcanvas-header{
    background: #5A5DE2;
    padding: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
}

.form_comentarios2{

    border: solid 2px #91ABEE;
    border-radius:7px;
    padding: 10px;
    padding-top: 15px;
}
.h2AgregarServicios{
    text-align: left;

}
.form_comentarios2 input {
    width: 90%;
    height: 50px;
    max-width: 90%;
    min-width: 90%;
    min-height: 60px;
    max-height: 300px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #333;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
}

.form_comentarios2 .btn {
    background: #5A5DE2;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.form_comentarios2 .btn:hover {
    box-shadow: 0px 0px 9px rgba(0, 0, 0, .35);
}
.AdministradorCuentas{
    margin-top: 100px;
}

.input-file button{
    background: #5A5DE2;
}

.btn-offcanvas{
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
        border-radius: 20px;
    border-radius: 500%;
    border: none;
    color: white;
    padding: 10px;
    width: 45px;
    transition: background 0.5s;
    background-color: #5A5DE2;
    text-decoration: none;
}

.btn-offcanvas:hover{
    background-color: #91ABEE;
    color: #5A5DE2;
    transition: 0,9s;
    border: none;
}

.submit{
    transition: background 0.5s;
    background-color: #5A5DE2;
    text-decoration: none;
}

.submit:hover{
    background-color: #91ABEE;
    color: #5A5DE2;
    transition: 0,9s;
    border: none;
}

.btn-outline-primary{
    transition: background 0.5s;
    background-color: #5A5DE2;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 10px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 30px;
}

.btn-outline-primary:hover{
    background-color: #91ABEE;
    color: #5A5DE2;
    transition: 0,9s;
    border: none;
}

.btn-danger{
    transition: background 0.5s;
    background-color: #5A5DE2;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 10px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 30px;
}

.btn-danger:hover{
    background-color: #91ABEE;
    color: #5A5DE2;
    transition: 0,9s;
    border: none;
}

#formsh1{
    margin-top: 140px;
    margin-bottom: 40px;
    margin-right: 100px;
  display: inline-block;
}
.container{
    margin-top: -40px;
}

@media screen and (max-width: 748px){
    .h2AgregarServicios{
        text-align: left;
    
    }

    #formsh1 {
        margin-top: 127px;
        margin-bottom: 0px;
        width: 100%;
        margin-right: 40px;
       
    }

    .btn-offcanvas{
        margin-top: 20px;
        float: right;
    }
    
    
   
}