#contM {
    margin: 150px auto;
    width: 70%;
}

.contS {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
}

.imguno {
    height: 40%;
    width: 40%;

}

.imgdos {
    height: 30%;
    width: 30%;

}



.textMM {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding: 30px;
    background-color: transparent;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    align-content: center;
    margin: auto;
}

.text1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #5A5DE2;
}

.text11 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #EC955B;
}

.text2 {
    text-align: justify;
    font-size: 20px;
}

.ulM {
    display: flex;

}

ul {
    margin: auto;
}

li {
    margin-right: 10px;
    font-size: 20px;
}

.textu {
    margin-left: 9%;
}


@media screen and (max-width: 768px) {


    .contS {
        display: grid;
        margin-bottom: 0;
        margin-top: 40px;
    }

    .ulM {
        display: grid;

    }

    .textMM {
        width: 80%;
        height: 350px;
        margin: auto;
    }

    .textu {
        width: 100%;
        margin: auto;
        margin-left: 13%;
    }

    .imguno,
    .imgdos {
        display: none;
        height: 70%;
        width: 70%;
        margin: auto;
    }

    .imgdos {
        margin-left: 30%;
    }
}