.FormR{
    max-width: 700px;
    min-width: 300px;
    max-height: 700px;
    width: 50%;
    height: 60%;
    margin: 160px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}
#HeaderTitleR{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    padding-bottom: 0;
    margin: 0;
    font-size: 2rem;
}
.OrgR{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mb-3{
    width: 70%!important;
}
.submit {
	border-radius: 20px;
	border: 1px solid #5A5DE2;
	background-color: #5A5DE2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.submit:active {
	transform: scale(0.95);
}

.submit:focus {
	outline: none;
}
.form-control{
	width: 100%;
}
.errors{
    font-size: 13px;
    color: red;
}