.Cont2R{
    margin: 200px auto;
    margin: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 77%;
    height: 900px;
    margin-left: 10%;
}
.FormR{
    width: 50%;
    height: 63%;
    background-color: #FFFFFF;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    
}
#HeaderTitleR{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    padding-bottom: 0;
    margin: 0;
    font-size: 2rem;
    margin-bottom: 20px;
    padding-top: 17%;
    margin-left: 0;
}
.OrgR{
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
  
}
.mb-3-registro{
    width: 100%!important;
    font-family: 'open sans', sans-serif;
    color: #91ABEE;

}
.submit {
	border-radius: 20px;
	border: 1px solid #5A5DE2;
	background-color: #5A5DE2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin: auto;
    margin-bottom: 20px;
}

.submit:active {
	transform: scale(0.95);
}

.submit:focus {
	outline: none;
}
.form-controlR{
   
    width: 100%;
    padding: 1.4px ;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    resize: none;
    outline: none;
}
.errors{
    font-size: 13px;
    color: red;
}

.img1R{
    margin-top: 20%;
    margin-left: 15%;
    width: 70%;
    height: 58%;
}

.imgRR{
    width: 50%;
    height: 63%;
    background-color: #EC955B;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.registrolinkR{   
    width: 300px;
    display: flex;
font-size: 15px;
}


#submit2{
    transition: 1s;
}

#submit2:hover{
    background-color: #91ABEE;
    color: #5A5DE2;;
    transition: 0,9s;
    border: none;
}
@media screen and (max-width: 768px){
    .registrolinkR{
        margin-top: 24px;
        margin-bottom: 20px;
    }
    #HeaderTitleR{
        margin-left: 0%;
        text-align: center;
    }
    .Cont2R{
        width: 400px;
        height: 30%;
        margin: 120px auto;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 7px;
    }
    .registrolink{   
    font-size: 11px;
    margin-bottom: -18px;
    }

    #reg1{
        color: #5A5DE2;
    }
    
    #reg2{
        margin-left: -35px;
        color: black;
    }
    .imgRR{
        display: none;
    }

    .img1R{
        display: none;
    }
  
    .OrgR{
        margin: 0;
        text-align: center;
    }

    
    .FormR{
       margin: auto;
    }

    .form-controlR{
        width:70%;
        padding: 0.4px; 
    font-size: 16px;
    margin: 5px 0;
  
    }
}

@media screen and (max-width: 420px){
    #HeaderTitleR {
        font-size: 1.5rem;
    }

    .OrgR{
        margin: 0;
        text-align: center;
    }

    
    .FormR{
       margin: auto;
    }

    .form-controlR{
        width: 50%;
        padding: 0.4px; 
    font-size: 16px;
    margin: 5px 0;
  
    }

    .Cont2R{
        width: 300px;
        height: 30%;
        margin-top: 120px auto;
        margin-left: 30px auto;
        margin-right: 30px auto;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 7px;
    }
}