*{
    padding: 0;
    margin: 0;

    font-family: 'Lato', sans-serif;
}
.serv{
text-align: center;
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}
h2{
  margin-bottom: 70px;
  text-align: center;
}

table{

  border-spacing: 9px;
}
th{

color: white;
width: 400px;
height: 132px;
background: #5A5DE2;
border-radius: 6px;
box-shadow: #00015249 0px 4px 20px;

}

.servcolegio{
width: 400px;
height: 132px;
background: #FBFFFF;
border-radius: 6px;
box-shadow: #00015249 0px 4px 20px;

}

.servescuela{
  width: 400px;
height: 132px;
background: #FBFFFF;
border-radius: 6px;
box-shadow: #00015249 0px 4px 20px;

}

.cont_imp{
  transform: translateY(75px);
  background-color: #91ABEE;
  width: 700px;
  height: 200px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  color: white;
}

.imp1{
  text-align: left;
  border-bottom: solid 1px white;

}

#agregarserv{
  width: 250px;
  height: 75px;
  background-color: #EC955B;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}

#adminserv{
  width: 250px;
  height: 75px;
  background-color: #5A5DE2;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
}

.btns{
  transform: translateY(150px);
  display: flex;
  width: 500px;
  margin: 0 auto;
}