* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* Botones Administrador */
#agregarserv {
  width: 250px;
  height: 75px;
  background-color: #EC955B;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}

#adminserv {
  width: 250px;
  height: 75px;
  background-color: #5A5DE2;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
}

.btnServicio {
  color: white;
}

.btns .btnServicio a {
  text-decoration: none;
  color: white;
}

.btn-servicio{
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btns {
  display: flex;
  width: 500px;
  margin: 0 auto;
}
/*Fin Botones Administrador */

/*Img Libro Azul*/
.colegioLibro{
 display: block;
 float: right;
 width: 11%;
 height: 10%;
 margin-top: -40px;
}
/* Fin Img Libro Azul*/

.container-se{
  margin: -30px 3rem;
  max-width: 90%;
}

.container-s{
  margin: 10px 3rem;
  max-width: 90%;
}


.section-servicios{
  margin-top: 1%;
}

.card{
  border-radius: 1rem;
  border-color: none;
  border-inline: none;

}

.container-servicios h1{
  color: #000;
  margin-top:150px;
  text-align: center;
}

@media(max-width:720px) {

  .btns {
    transform: translateY(150px);
    display: flex;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 250px;
  }
  .container-servicios{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .section-servicios  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    }
  
    .section-servicios .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
  }

  .section-servicios .carousel-inner{
    padding: 1em;
}
.card-s{
    margin: 0 .5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    border: none;
}
.card-s:hover{
  background-color: #dedede;
}
.section-servicios .carousel-control-prev, .carousel-control-next{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    margin-left: -20px;
    margin-right: -40px;
    transform: translateY(-50%);
}
}
@media (max-width:800px){
  .card-s{
    margin: 0 .5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    border: none;
    text-align: center;
    max-width: 90%;
    margin-right: auto;
    background-color: #5A5DE2;
    color: #fff;
    margin-left: auto;
}
 .card-s .text-muted{
  color: #c9c9c9!important;
 }
.card-s:hover{
  background-color: #7e80fe;
}
.section-servicios .carousel-inner {
  
  padding: 1em;
}
.section-servicios img{
  display: none;
}
.section-servicios .carousel-control-prev, .carousel-control-next{
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  margin-left: -20px;
  margin-right: -40px;
  transform: translateY(-50%);
}

}