* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#agregarserv {
  width: 250px;
  height: 75px;
  background-color: #EC955B;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}

#adminserv {
  width: 250px;
  height: 75px;
  background-color: #5A5DE2;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
}
.btnServicio {
  color: white;
}

.btns .btnServicio a {
  text-decoration: none;
  color: white;
}

.btn-servicio{
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btns {
  display: flex;
  width: 500px;
  margin: 0 auto;
}
.col-6{
  margin-top: 50px;
}
.h3-servicios{
  font-size: 30px;
}
.flecha{
  size: 50px;
  width: 20px;
  color: white;
}
.btn-primary{
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary:hover{
  background-color: #5A5DE2;
  border-color: #5A5DE2;
}
.h3-colegio{
  margin-top: 25px;
}
.carousel-escuela{
  margin-top: -200px;

}
.colegioLibro{
 display: block;
 float: right;
 width: 11%;
 height: 10%;
 margin-top: -40px;
}
.card-title{
  margin-top: 20px;
}
.card-body{
  margin-bottom: 20px;
}
.p-servicio{
  margin-bottom: 20px;
}

.col-md-4{
  margin-top: 60px;
}

@media(max-width:720px) {
  .cont_imp {
    transform: translateY(75px);
    background-color: #91ABEE;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px;
    color: white;
    position: relative;

    
  }
  .carousel-escuela{
    margin-top: 0px;
  }

  .btns {
    transform: translateY(150px);
    display: flex;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 250px;
  }
}